* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body,
html {
  font-weight: 400;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background: transparent;
}
header {
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 2;
}
header .header_content {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .header_content ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header .header_content li {
  margin-right: 30px;
}
header .header_content a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}
header .header_content span {
  color: #262626;
}
header .header_content i {
  color: #262626;
}
header button,
.carousel button,
.about button,
.plan button {
  padding: 20px 35px;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  color: white;

  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  transition: 0.5s;
}
button:hover {
  background-position: right bottom;
}
header .header_content span {
  display: inline-block;
}
header .header_content li:hover span {
  animation: touch 0.3s linear;
}
@keyframes touch {
  49% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
    transform: translateY(-100%);
  }
}
.carousel {
  width: 100%;
  background-image: url(./source/img/pic2.png);
  overflow: hidden;
}

.carousel_content {
  display: flex;
  padding-top: 180px;
}
.carousel_left {
  width: 50%;
  color: #636363;
  padding-top: 50px;
}
.carousel_right {
  width: 50%;
}

.carousel_content h4 {
  font-size: 22px;
  color: #f55f8d;
}
.carousel_content h2 {
  padding: 15px 0;
  color: black;
  font-size: 70px;
}
.carousel_content ul {
  padding: 20px 10px 0;
}
.carousel .carousel_content li {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  font-size: 20px;
}
.carousel .las {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  padding: 10px 10px;
  border-radius: 50%;
  margin-right: 10px;
  color: white;
}
.carousel_right img {
  width: 100%;
  object-fit: cover;
  margin-left: 150px;
}
.service {
  background-image: url(./source/img/bg2.png);
  width: 100%;
  padding-top: 120px;
}
.service .service_title {
  text-align: center;
}
.service_title h4 {
  font-size: 22px;
  color: #f55f8d;
}
.service_title h2 {
  font-size: 70px;
  padding: 30px 0;
}
.service_content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.service_box {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 45px;
  transition: 0.5s;
}
.service_box img {
  object-fit: contain;
  width: 215px;
}
.service_box h3 {
  font-size: 1.5rem;
  padding: 25px 0;
}
.service_box p {
  display: block;
  font-size: 16px;
  color: #636363;
  text-align: center;
}
.service_box:hover {
  transform: translateY(-15px);
}
.about {
  width: 100%;
  background-image: url(./source/img/bg15.png);
  overflow: hidden;
}

.about_content {
  display: flex;
  padding: 80px 0;
}
.about_right {
  width: 50%;
  color: #636363;
}
.about_left {
  width: 50%;
}

.about_content h4 {
  font-size: 22px;
  color: #f55f8d;
}
.about_content h2 {
  padding: 15px 0;
  color: black;
  font-size: 70px;
}
.about_content ul {
  padding: 20px 10px 0;
}
.about_content li {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  font-size: 16px;
}
.about .las {
  border: 1px solid #f55f8d;
  border-radius: 50%;
  padding: 5px 5px;
  margin-right: 10px;
  color: #f55f8d;
}
.about_left img {
  width: 120%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  object-fit: cover;
  margin-left: -200px;
}

.data {
  background-image: url(./source/img/bg14.png);
  padding: 80px 0;
}
.data_box {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.data_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data_content i {
  padding: 15px 20px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  font-size: 45px;
  color: white;
}
.data_content h3 {
  padding: 15px 0;
  font-size: 65px;
  color: #f55f8d;
}
.data_content p {
  color: #262626;
  font-size: 18px;
}
.feature {
  background-image: url(./source/img/bg2.png);
  padding: 80px 0;
}
.feature_content {
  display: flex;
}
.feature_left {
  width: 50%;
}
.feature_left h4 {
  color: #f55f8d;
  font-size: 22px;
}
.feature_left h2 {
  color: #262626;
  font-size: 70px;
  padding: 30px 0;
}
.feature_box,
.feature_box2 {
  display: flex;
  background: white;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  align-items: center;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.feature_box::before,
.feature_box2::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s;
}
.feature_box:hover::before,
.feature_box2:hover::before {
  opacity: 1;
}
.feature_box {
  margin-right: 30px;
}
.feature_box2 {
  margin-left: 30px;
}
.box_icon {
  padding: 10px;
}
.box_icon i {
  color: #f55f8d;
  font-size: 80px;
  transition: 0.5s;
  position: relative;
  padding: 20px 20px;
}
.box_title h3 {
  color: #262626;
  font-size: 22px;
  transition: 0.5s;
  position: relative;
}
.box_title p {
  color: #636363;
  transition: 0.5s;
  position: relative;
}
.feature_box:hover .box_icon i,
.feature_box:hover .box_title h3,
.feature_box:hover .box_title p {
  color: white;
}
.feature_box2:hover .box_icon i,
.feature_box2:hover .box_title h3,
.feature_box2:hover .box_title p {
  color: white;
}
.feature_right {
  width: 55%;

  margin-right: -80px;
}
.feature_right img {
  max-width: 100%;
  animation: move 5s infinite;
  object-fit: contain;
}
@keyframes move {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
.work {
  background-image: url(./source/img/bg17.png);
  background-position: top center;
  background-size: cover;
}
.work_title {
  text-align: center;
}
.work_title h4 {
  color: #f55f8d;
  font-size: 22px;
}
.work_title h2 {
  color: #262626;
  font-size: 70px;
  padding: 20px 0;
}
.work_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.work_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box_content1,
.box_content5 {
  grid-column: 1 / span 2;
}
.box_content6 {
  grid-row: 2 / 4;
  grid-column: 3/4;
}
.box_content img {
  border-radius: 10px;
}
.box_content {
  position: relative;
  overflow: hidden;
}
.box_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  border-radius: 10px;
  transition: 0.75s;
}
.overlay_title {
  position: absolute;
  left: 0px;
  bottom: 0px;
  transition: 00.75s;
}
.overlay_title h4 {
  font-size: 22;
  color: #ffff;
}
.overlay_title p {
  font-size: 16px;
  color: #ffff;
  opacity: 0.7;
}
.overlay_icon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;

  transition: 0.75s;
  cursor: pointer;
}
.overlay_icon i {
  font-size: 28px;
  color: #fff;
}
.box_content::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );

  top: 0;
  left: -100%;
  transform: skewX(-25deg);
  transition: 0.75s;
}
.box_content:hover::before {
  width: 100%;
  left: 200%;
}
.box_content:hover .box_overlay {
  opacity: 1;
}
.box_content:hover .overlay_icon {
  top: 20px;
  right: 20px;
}
.box_content:hover .overlay_title {
  bottom: 30px;
  left: 30px;
}
.plan {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
}
.plan_title {
  padding: 80px 40px 0 0;
  text-align: center;
}
.plan_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 30px;
  padding-top: 30px;
}

.plan_item {
  padding: 35px 60px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 3px solid transparent;
  border-image: 100 round;
  transition: 0.5s;
}
.plan_item:hover {
  border-image: url(./source/img/br.png) 1 round;
}
.item_title {
  width: 100%;
}
.item_title img {
  width: 125px;
}
.plan_title h3 {
  color: #f55f8d;
  font-size: 22px;
}
.plan_title h2 {
  color: #262626;
  font-size: 70px;
  padding: 20px 0;
}
.item_title {
  color: #262626;
  border-bottom: 1px solid #e1e1f0;
}
.item_title h3 {
  font-size: 32px;
}
.item_title span {
  color: #f8ae56;
  font-size: 50px;
}
.item_list ul {
  list-style: none;
  color: #262626;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 0;
}
.item_list li {
  display: flex;
  justify-content: left;
  padding: 10px 0;
}
.item_list i {
  padding: 5px;
  border-radius: 50%;
  color: #f55f8d;
  font-size: 12px;
  background-color: #feeff3;
  margin-right: 20px;
}

.testimonial {
  background-image: url(./source/img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonial_title {
  text-align: center;
  padding-top: 115px;
}
.testimonial_title h4 {
  color: #f55f8d;
  font-size: 22px;
}
.testimonial_title h2 {
  color: #262626;
  font-size: 70px;
}

.blog {
  background-image: url(./source/img/bg16.png);
  padding: 115px 0;
  background-size: cover;
}
.blog_title h4 {
  color: #f55f8d;
  font-size: 22px;
}
.blog_title h2 {
  color: #262626;
  font-size: 70px;
  padding: 30px 0;
}
.blog_title {
  text-align: center;
}
.blog_item {
  border-radius: 8px;
  background: rgba(245, 95, 141, 0.1);
  text-align: left;
}
.blog_header {
  position: relative;
}
.blog_header img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
}
.blog_header p {
  width: 145px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  display: inline-block;
  border-radius: 8px;
  position: absolute;
  left: 15px;
  bottom: -20px;
}
.blog_body {
  padding: 35px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog_body h3 {
  color: #262626;
  font-size: 24px;
  font-weight: 700;
}
.blog_body p {
  color: #636363;
  font-size: 16px;
}
.blog_footer {
  padding: 15px 15px;
  display: flex;
  color: #636363;
  font-size: 14px;
  font-weight: 400;
}
.blog_footer i {
  font-size: 22px;
  color: #f55f8d;
  margin-right: 5px;
}
.blog_footer .la-comment {
  margin-left: 20px;
}
.blog_footer span {
  color: #f55f8d;
}
.footer {
  background-image: url(./source/img/bg4.png);
  background-repeat: no-repeat;
  background-color: #0e1b1f;
  background-size: contain;
  background-position: center;
  position: relative;
  color: #fff;
}
.footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(./source/img/pattern2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.footer_header {
  padding: 50px 60px;
  background-image: url(./source/img/pattern3.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_title {
  width: 50%;
}
.footer_title h3 {
  font-size: 28px;
  color: #262626;
}
.footer_form {
  width: 50%;
  display: flex;
  align-items: center;
}

.footer_form input {
  padding: 24px 20px;
  color: #888;
  background: #fff;
  font-size: 15px;
  font-weight: 400;
  border-radius: 8px 0 0 8px;
  border: 1px solid #fff;
  transition: 0.5s;
  flex: 1;
  outline: 0;
}
.footer_form button {
  padding: 20px 35px;
  color: #fff;
  border-radius: 0 8px 8px 0;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.footer_form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}
@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
.footer_form input:hover,
.footer_form input:focus {
  border-color: #f55f8d;
}
.footer_body {
  display: flex;
  padding: 70px 0;
}
.footer_item {
  width: 25%;
}
.footer_contact i {
  padding: 10px 10px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}
.footer_item ul {
  list-style: none;
}
.footer_item li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer_item a {
  text-decoration: none;
  color: #636363;
  font-size: 16px;
}
.footer_item span {
  padding-left: 15px;
}
.footer_item h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 30px;
  position: relative;
}
.footer_item img {
  margin-bottom: 10px;
}
.footer_item h3::before,
.footer_item h3::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  height: 4px;
  border-radius: 20px;
}

.footer_item h3::before {
  width: 15px;
}
.footer_item h3::after {
  width: 45px;
  left: 20px;
}
.footer_copyright {
  padding: 10px 0;
  background-color: #1f343b;
  position: relative;
}
.footer_copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_copyright i {
  color: #fff;
  font-size: 14px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: 0.5s;
}
.footer_copyright span {
  color: #f55f8d;
}

.backToTop {
  position: fixed;
  display: block;
  color: #fff;
  background-color: #f55f8d;
  box-shadow: rgba(0, 0, 0, 2%) 0 0 10px 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 12px;
  bottom: 10px;
  right: 10px;
  text-align: center;
  transition: all 0.5s;
  visibility: visible;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.footer_body {
  position: relative;
}
.footer_copyright .footer_right i:hover {
  background-color: #f55f8d;
}
